*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}
.leftcontainer{
    background: url("./assets/pexels-mohan-reddy-4227873.jpg");
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.headcontainer{
    margin: 2% 0 5% 13.5%;
    position: absolute;
}
.headcontainer h1{
    font-size: 3.5rem;
    font-family: 'Bruno Ace', cursive;
}
.headcontainer h4{
    font-size: 1.1rem;
    font-family: 'Bruno Ace', cursive;
    margin-top: 2.5%;
}
.dlogo{
    position: relative;
    height: 100px;
    width: 90px;
    top: 150px;
    border-radius: 10px;
    margin: 2% 0 0 7%;
}
/* NAVBAR */
.navbar{
    margin: 15% 0 0 7%;
}
.navbar li{
    list-style: none;
    float: left;
    margin-right: 2.3%;
    font-size: 1.2rem;
    font-family: 'Ysabeau', sans-serif;
    padding: 5px;
}
.navbar a{
    text-decoration: none;
    transition: 0.12s linear;
    color: white;
}
.navbar a:hover{
    color: #acb8be;
}
.navbar {
    overflow: hidden;
    /* background-color: #333; */
}

/*  */

.gallery_container h1{
    text-align: center;
    font-size: 3.5rem;
    margin: 3% 0 0 0;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    color: orange;
    animation: galeria 10s linear 1 both;
}
@keyframes galeria {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(226, 11, 11, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(207, 96, 96, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(4, 238, 199, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(11, 7, 248, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(160, 62, 62, 0.45), 0 0 60px rgba(206, 7, 7, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(78, 224, 20, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}
.imgContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 7% 7% 0% 7%;
    padding: 0% 15%;
}
.gimg {
    height: 350px;
    width: 500px;
    margin: 0% 3% 2% 0;
    padding: 1%;
    border: 1px solid;
    border-color: rgb(216, 213, 213);
    filter: brightness(80%);
    transition: 0.2s linear;
}
.gimg:hover{
    border-color: #000;
    filter: brightness(100%);
    cursor: pointer;
}

/*  */

.footer{
    /* margin: 0 20% 0 20%; */
    background-color: #000;
    color: #fff;
}
.footer-container{
    display: flex;
    position: relative;
    height: 400px;
    font-family: 'Ysabeau', sans-serif;
    /* background-color: antiquewhite; */
    margin: 0 20% 0 20%;
}
.fsec, .fsec1{
    margin: 5% 3.5% 0 0%;
    width: 300px;
}
.fsec p{
    margin-top: 10%;
}

.fa-brands{
    color: orange;
    font-size: 1.3rem;
    margin-right: 5%;
    margin-top: 10%;
}
.fsec1 li, .fsec2 li{
    list-style: none;
    line-height: 2.5;
}
.fsec1 a, .fsec2 a{
    text-decoration: none;
    color: #fff;
}
.fsec2{
    margin: 5% 3.5% 0 0%;
}
.fsec3{
    margin: 5% 3.5% 0 10%;
    line-height: 1.3;
}

@media only screen and (max-width: 600px) {
    .services{
        margin: 5% 4% 0 4%;
    }
    .headcontainer{
        /* margin: 2% 0 5% 13.5% */
        margin: 10% 0 5% 30%;
        position: absolute;
    }
    .headcontainer h1{
        font-size: 2.5rem;
        font-family: 'Bruno Ace', cursive;
    }
    .headcontainer h4{
        font-size: 1.1rem;
        font-family: 'Bruno Ace', cursive;
        margin-top: 8.5%;
    }
    .dlogo{
        position: relative;
        height: 100px;
        width: 90px;
        top: 150px;
        border-radius: 10px;
        margin: 2% 0 0 7%;
    }
    .navbar{
        display: none;
        margin: 15% 0 0 7%;
    }
}