@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --primary: #279eee;
    --secondary: #5d20e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', consolas;
    /* color: white; */
}

section {
    overflow-x: hidden;
}

.leftcontainer {
    background: url("https://images.pexels.com/photos/7120485/pexels-photo-7120485.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.headcontainer {
    margin: 0% 0 0% 13%;
    position: absolute;
}

.headcontainer h1 {
    font-size: 6rem;
    font-family: 'Showcard Gothic', cursive;
}

.headcontainer h4 {
    font-size: 1.5rem;
    font-family: 'Barlow', cursive;
}

.dlogo {
    position: relative;
    height: 150px;
    top: 150px;
    border-radius: 10px;
    margin: 0% 0 0 7%;
}

/* NAVBAR */
.navbar {
    margin: 15% 0 0 7%;
}

.navbar li {
    list-style: none;
    float: left;
    margin-right: 2.3%;
    font-size: 1.2rem;
    font-family: 'Ysabeau', sans-serif;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    transition: 0.12s linear;
    color: #DDD;
}

.navbar a:hover {
    color: white;
}

.navbar {
    overflow: hidden;
    /* background-color: #333; */
}


/* MAINSECTION */

.headsec {
    margin-bottom: 3%;
}

.mainsec {
    /* background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% ); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6% 20% 7.5% 20%;
    border-top: 2px var(--primary) solid;
}

.details {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    transform: translate(-2.5%);
}

.sec1,
.sec2,
.sec3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1 h3,
.sec2 h3,
.sec3 h3 {
    color: var(--secondary);
    font-size: 2rem;
}

.headsec h4 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 25px;
    color: var(--secondary);
}

.headsec p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* FEATURES */

.features {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4%;
    transform: translate(-1.5%);
}

.icon {
    font-size: 2.9rem;
    color: var(--secondary);
}

.s1,
.s2,
.s3,
.s4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SERVICES */

.services {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff, #fff0, #fff), url("./assets/white_pattern1.jpg");
    background-size: cover;
    background-color: #EEE;
    /* border-top: 2px var(--primary) solid;
    border-bottom: 2px var(--primary) solid; */
    color: black;
    height: 100%;
}

.scontainer1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}


.ourservice-container h2 {
    font-size: 3rem;
    margin-bottom: 25%;
}

.service {
    border-radius: 5px;
    background-color: #fff7;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: #0002 3px 3px 15px;
    border: #FFF 1.3px solid;
    color: #111;
    width: 100%;
}

.ser {

    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}

.ser p {
    margin-top: 5%;
    text-align: justify;
}

.i {
    color: var(--primary);
    font-size: 1.7rem;
}

.ser1 p {
    margin-top: 5%;
}

.scontainer2 {
    display: flex;
    width: 100%;
    margin: 0 7% 0 7%;
    gap: 20px;
}

.service1 {
    margin-top: 1.5%;
}

.lm {
    margin-top: 3.5%;
}

.lm a {
    text-decoration: none;
    color: var(--primary);
    transition: 0.1s linear;
    font-weight: 600;
}

.lm a:hover {
    color: var(--secondary);
}

/* OUR-WORKS */

.ourworks-container {
    padding: 5% 10% 5% 10%;
}

.ourworks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.ourworks-container h2 {
    align-self: center;
    text-align: center;
    margin: 0 0 5% 1%;
    font-size: 3rem;
}

.w1 {
    display: flex;
    justify-content: space-between;
}

.w1>div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.cwr p {
    text-align: justify;
    width: 140%;
}


.w1 img {
    /* width: 100%; */
    width: 23%;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 5px;
}

.cwr {
    width: 70%;
}

.cwr h3 {
    margin-bottom: 1.6%;
    font-size: 2rem;
}

.crosslink {
    text-decoration: none;
    color: var(--primary);
    justify-self: end;
    margin-top: 15px;
    width: 20%;
}

.crosslink:hover {
    color: var(--secondary);
    transition: all 200ms ease;
}

/* VIEW MORE BUTTON */
.learnmore {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2rem;
    background-color: #FFF;
    border: 2px solid #EEE;
    border-radius: 7px;
    margin-top: 5%;

    box-shadow: 5px 5px 10px #0002;
    transition: all 300ms ease-in-out;
}

.learnmore:hover {
    width: 130px;
    border: black 1px solid;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 40px;
    transition: all 400ms ease-in-out;
}

/* LETS DISCUSS */

.dcontainer {
    background-color: var(--secondary);
    color: #fff;
}

.discuss {
    margin: 0 4% 0 4%;
    padding: 7%;
    text-align: center;
}

.discuss h1 {
    font-size: 4rem;
}

.discuss h2 {
    font-size: 2.35rem;
    margin-top: 30px;
}

.dbtn {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    transition: 0.1s linear;
    box-shadow: 5px 5px 20px #0005;
    border-radius: 15px;
    background-color: var(--secondary);
    color: white;
    border: 1px #c4f4 solid;
    transition: all 200ms ease-in-out;
}

.dbtn h3 {
    text-align: center;
    padding: 14.5px;
}

.dbtn a {
    color: #000;
}

.dbtn:hover {
    border-radius: 30px;
    width: 210px;
    background-color: white;
    color: var(--secondary);
    transition: all 200ms ease-in-out;
}

/* FOOTER  */

.footer {
    padding: 2.5% 7% 2.5% 7%;
}

.footer-container {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-family: 'Ysabeau', sans-serif;
    /* background-color: antiquewhite; */
}

.fsec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.fsec>div {
    display: flex;
    gap: 5%;
}

.adrs {
    font-weight: 500;
    margin-top: 2%;
}


.fa-brands {
    color: var(--secondary);
    font-size: 1.3rem;
    text-decoration: none;
}

.fa-brands:hover {
    color: var(--primary);
    transition: color ease 200ms;
}

.fsec1,
.fsec2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fsec1 li,
.fsec2 li {
    list-style: none;
    line-height: 2.4;
}

.fsec1 a,
.fsec2 a {
    text-decoration: none;
    color: #000;
}

.fsec1 a:hover,
.fsec2 a:hover {
    color: var(--primary);
}

.fsec3 {
    display: flex;
    line-height: 1.3;
    justify-content: space-between;
    gap: 6vw;
}

.fnd {
    display: flex;
    flex-direction: column;
}



.right_container {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    height: 70%;
    gap: 30px;
    visibility: hidden;
}

.sidenav ul {
    list-style: none;
    line-height: 10vh;
}

.sidenav ul li a {
    text-decoration: none;
    color: #111;
}

.ham {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    visibility: hidden;
    background-color: #FFF3;
    backdrop-filter: blur(15px);
    box-shadow: 3px 3px 10px #0004;
}

.ham .rar {
    height: 3px;
    width: 30px;
    transform-origin: center;
    background-color: #111;
}

.ham .lar {
    height: 3px;
    width: 30px;
    background-color: #111;
}

.ham:hover {
    background-color: #FFF3;
}

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: #fffa;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    width: 50%;
    padding-left: 10%;
    box-shadow: -10px 10px 20px #0004;
    padding-top: 80px;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;
}

@media only screen and (max-width: 600px) {

    .row {
        flex-direction: column;
        width: 100%;
    }

    .column {
        max-width: 100%;
    }

    .abt h2 {
        margin: 0;
    }

    .dlogo {
        transform: translateX(20%);
    }

    .headcontainer {
        transform: translateY(250%);
    }

    .headcontainer h1 {
        font-size: 2.5rem;
    }

    .headcontainer h4 {
        font-size: 1.2rem;
    }

    .navbar {
        display: none;
    }

    .fsec,
    .fsec1,
    .fnd {
        display: none;
    }

    .ham {
        z-index: 10;
        visibility: visible;
    }

    .sidenav {
        visibility: hidden;
    }

    .right_container {
        visibility: visible;
        z-index: 10;
    }

    /* -------------------------------------- */

    .mainsec {

        padding: 5% 7% 5% 7%;
        padding-top: 20%;
    }

    .ourservice-container {
        margin-top: 30%;
    }

    .discuss {
        padding-bottom: 10%;
    }

    .discuss h1 {
        font-size: 2.6rem;
    }

    .discuss h2 {
        font-size: 1.7rem;
    }

    .details p,
    .features p {
        font-size: 0.6rem;
    }

    .scontainer1 {
        flex-direction: column;
    }

    .scontainer2 {
        margin-top: 5%;
        flex-direction: column;
    }

    .ourworks-container {
        margin-top: 20%;
    }

    .w1 {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .w1 img {
        width: 100%;
        margin-bottom: 3%;
    }

    .crosslink {
        width: 100%;
    }

    .learnmore {
        margin-top: 10%;
        margin-bottom: 4%;
    }


}