*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}
.leftcontainer{
    background: url("./assets/pexels-mohan-reddy-4227873.jpg");
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.headcontainer{
    margin: 2% 0 5% 13.5%;
    position: absolute;
}
.headcontainer h1{
    font-size: 3.5rem;
    font-family: 'Bruno Ace', cursive;
}
.headcontainer h4{
    font-size: 1.1rem;
    font-family: 'Bruno Ace', cursive;
}
.dlogo{
    position: relative;
    height: 100px;
    width: 90px;
    top: 150px;
    border-radius: 10px;
    margin: 2% 0 0 7%;
}
/* NAVBAR */
.navbar{
    margin: 15% 0 0 7%;
}
.navbar li{
    list-style: none;
    float: left;
    margin-right: 2.3%;
    font-size: 1.2rem;
    font-family: 'Ysabeau', sans-serif;
    padding: 5px;
}
.navbar a{
    text-decoration: none;
    transition: 0.12s linear;
    color: white;
}
.navbar a:hover{
    color: #acb8be;
}
.navbar {
    overflow: hidden;
    /* background-color: #333; */
  }
  

/* MAINSECTION */

.mainsec{
    /* background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% ); */
    font-family: 'Ysabeau', sans-serif;
}
.details{
    display: flex;
    margin: 5% 20% 0 20%;
}
.sec1, .sec2, .sec3{
    margin-left: 10%;
}
.sec1 h3, .sec2 h3, .sec3 h3{
    color: rgb(255, 166, 0);
    font-size: 1.6rem;
}
.headsec h4{
    font-size: 2rem;
    color: rgb(255, 166, 0);
}
.headsec p{
    font-size: 1.14rem;
}

/* FEATURES */

.features{
    display: flex;
    margin: 8% 20% 0 20%;
}
.icon{
    font-size: 2.5rem;
    color: orange;
}
.s1, .s2, .s3{
    margin-right: 17.5%;
}
.s1p , .s2p, .s3p, .s4p{
    margin-top: 10%;
    font-size: 1.15rem;
}

/* SERVICES */

.services{
    /* display: flex; */
    position: absolute;
    background-color: #000000d8;
    height: 600px;
    width: 1903px;
    margin: 5% 0% 0 0%;
    color: white;
    font-family: 'Ysabeau', sans-serif;
}
.scontainer1{
    display: flex;
    margin: 0 7% 0 7%;
}
.ourservice-container {
    position: relative;
    margin: 3% 0 5% 0%;
    width: 300px;
    height: 150px;
}
.ourservice-container h2{
    font-size: 3rem;
    margin-bottom: 7%;
}
.service{
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    height: 250px;
    width: 400px;
    margin: 3% 0% 0% 3%;
}
.ser{
    margin: 5%;
}
.ser p{
    margin-top: 5%;
}
.i{
    color: orange;
    font-size: 2.5rem;
    margin-bottom: 5%;
}
.ser1 p{
    margin-top: 5%;
}
.scontainer2{
    display: flex;
    margin: 0 7% 0 7%;
}
.service1{
    margin-top: 1.5%;
}
.lm{
    margin-top: 3.5%;
}
.lm a{
    text-decoration: none;
    color: orangered;
    transition: 0.1s linear;
    font-weight: 600;
}
.lm a:hover{
    color: blue;
}

/* OUR-WORKS */

.ourworks{
    margin: 8% 20% 0% 20%;
    position: relative;
    top: 600px;
    font-family: 'Ysabeau', sans-serif;
}
.ourworks h2{
    margin: 0 0 5% 1%;
    font-size: 3rem;
}
.w1{
    display: flex;
    padding: 1.1%;
    margin: 5% 0 0 0;
}
.w1 img{
    /* width: 100%; */
    border-radius: 8px;
    height: 250px;
    width: 350px;
}
.w1 div{
    margin-left: 3%;
    margin-right: 10%;
}
.cwr h3{
    margin-bottom: 1.6%;
    font-size: 2rem;
}
.crosslink{
    height: 50px;
    width: 200px;
    background-color: orange;
    border-radius: 15px;
    margin: 3% 40% 0 41%;
    transition: 0.1s linear;
    opacity: 0.8;
}
.crosslink h4{
    text-align: center;
    padding: 14.5px;
}
.crosslink a{
    text-decoration: none;
    color: #fff;
}
.crosslink:hover{
    scale: 1.1;
}
/* VIEW MORE BUTTON */

.learnmore{
    position: relative;
    top: 650px;
    height: 50px;
    width: 170px;
    background-color: #000000d8;
    color: white;
    border-radius: 15px;
    margin: 0 40% 0 45%;
    opacity: 0.8;
    transition: 0.1s linear;
    font-family: 'Ysabeau', sans-serif;
}
.learnmore h3{
    text-align: center;
    padding: 15px;
}
.learnmore a{
    text-decoration: none;
    color: #fff;
}
.learnmore:hover{
    scale: 1.1;
    opacity: 1;
}
.hr{
    position: relative;
    top: 670px;
    margin: 1% 20% 0 20%;
}

/* LETS DISCUSS */

.dcontainer{
    position: relative;
    top: 690px;
    background-color: orange;
    color: #fff;
}
.discuss{
    margin: 0 7% 0 7%;
    padding: 10%;
    text-align: center;
    font-family: 'Ysabeau', sans-serif;
}
.discuss h1{
    font-size: 4rem;
}
.discuss h2{
    font-size: 2.5rem;
}
.dbtn{
    height: 50px;
    width: 200px;
    background-color: #fff;
    border-radius: 15px;
    margin: 3% 40% 0 41%;
    transition: 0.1s linear;
    opacity: 0.8;
}
.dbtn h3{
    text-align: center;
    padding: 14.5px;
}
.dbtn a{
    text-decoration: none;
    color: #000;
}
.dbtn:hover{
    scale: 1.1;
    opacity: 1;
}

/* FOOTER  */

.footer-container{
    display: flex;
    position: relative;
    top: 691px;
    height: 400px;
    font-family: 'Ysabeau', sans-serif;
    /* background-color: antiquewhite; */
}
.fsec, .fsec1{
    margin: 5% 3.5% 0 7%;
    width: 300px;
}
.fsec p{
    margin-top: 10%;
}

.fa-brands{
    color: orange;
    font-size: 1.3rem;
    margin-right: 5%;
    margin-top: 10%;
}
.fsec1 li, .fsec2 li{
    list-style: none;
    line-height: 2.5;
}
.fsec1 a, .fsec2 a{
    text-decoration: none;
    color: #000;
}
.fsec2{
    margin: 5% 3.5% 0 0%;
}
.fsec3{
    margin: 5% 3.5% 0 10%;
    line-height: 1.3;
}